/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3574B0;
    font-family: 'Open Sans', sans-serif;
}

h3,
h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

a:link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #3574B0;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fafafa;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem 1rem;
}

#menu>li {
    margin-bottom: 0.5em;
    text-align: right;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #3574B0;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Hero section */
#hero {
    background: url(../images/tjuvkil-beach-trift-mobile.webp);
    background-size: cover;
    height: 400px;
    width: 100%;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

#welcome {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    position: relative;
    padding: 25px 0;
}

/* News & Event and About section in index.html page */
#News-flash-about {
    text-align: justify;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 242, 242);
    padding: 25px;
}

#news-flash {
    flex-basis: 100%;
    padding: 10px;
}

#bridge {
    height: 300px;
    width: 200px;
    padding: 10px;
}


#maypole {
    height: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#about {
    flex-basis: 100%;
    padding: 10px;
}

.button {
    color: #3574B0;
    border-color: #3574B0;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: #3574B0;
    color: #fafafa;
}

/* Contact form */
#contact {
    background-color:#3574B0;
    color: #fafafa;
    padding: 25px 25px;
    margin: auto;
}

.contact-form {
    display: block;
    margin-bottom: 10px;
}

#become-member {
    display: inline-block;
}

#description {
    height: 200px;
}

/* Footer */
footer {
    background-color: #3574B0;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    max-width: 100%;
    padding: 25px 50px;

}

.social-icon {
    font-size: 25px;
    color: #fafafa;
}

/* Media query; tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        height: 75px;
        max-width: 1180px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    nav {
        width: fit-content;
        padding-right: 1rem;
        z-index: 99;
        display: flex;
        position: relative;
        top: 0%;
        max-height: 40px;
        font-size: 120%;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 0;
        max-width: 1180px;
        margin: 0 auto;
        position: relative;
    }

    #hero {
        background: url(../images/tjuvkil-beach-people.webp);
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1180px;
        margin: 0 auto;
        height: 600px;
    }

    #welcome {
        font-size: 120%;
    }

    /* News & Event and About section in index.html page */
    #News-flash-about {
        display: flex;
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 120%;
        margin-bottom: 75px;
    }

    #news-flash {
        margin-right: 25px;
    }

    #about {
        margin-left: 25px;
    }

    /* Contact form */
    .contact-form {
        margin-top: 75px;
        max-width: 1180px;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    /* Footer */
    footer {
        height: 75px;
    }

    #social-networks {
        padding: 25px 150px;
    }
}

/* Media query; laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    #logo {
        font-size: 220%;
    }

    nav {
        width: fit-content;
        padding-right: 1rem;
        z-index: 99;
        display: flex;
        position: relative;
        top: 0%;
        max-height: 40px;
    }

    #welcome {
        font-size: 150%;
    }

    .sidebyside {
        display: flex;
        align-items: center;
    }

    /* Footer */
    footer {
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
    }

    #social-networks {
        width: 1180px;
        padding: 25px 200px
    }
}