/* Google fonts import */
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

/* Header */
header {
    background-color: #fafafa;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

/* Main content */
main {
    background-color: gold;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: greenyellow;
}